python-telegram-bot[webhooks]==20.7
aiohttp==3.10.11
requests==2.32.4
beautifulsoup4==4.12.2
pytz==2023.3
PyMySQL==1.1.1
sqlalchemy==2.0.23
alembic==1.13.1
pytest
python-telegram-bot[tests]
validators>=0.35.0
googletrans-py
cryptography>=41.0.0 